.Dictionary form {
  display: block;
}

.Dictionary label {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
}

.Dictionary section {
  box-shadow: 0 15px 15px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background: #fff;
  margin-top: 10px;
  padding: 40px;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 5px 10px;
  width: 100%;
}

.Dictionary .hint {
  font-size: 13px;
  margin-top: 5px;
}
